.row {
   width:100%;
}
.column-2 {
  width:50%;
  height:200px;
  float:left;
}
.column-3 {
  width:33%;
  height:200px;
  float:left;
}
.column-4 {
  width:25%;
  height:200px;
  float:left;
}
.column-5 {
  width:20%;
  height:200px;
  float:left;
}
.row:after {
   clear:both;
}

input[type=number] {
  width: 100px;
}


#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leftside {
    float:left;
    width:220px;
    height:285px;
    background-color:#def;
    padding:10px;
    border-radius:4px;
}
.rightside {
    float:left;
    margin-left:10px;
}
#sketchpad {
    float:left;
    height:300px;
    width:400px;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}
#clear-button, #send-button {
    float:left;
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
    margin-bottom:5px;
}

.save_box {
    border:1px solid #bbb;
    border-radius:4px;
    padding:5px;
    clear:both;
}

textarea {
	font-family: monospace;
	height: 50vh;
	width: 33%;	
	position: relative;
	float: left;
}

